@model IEnumerable<project.EF.Category>

@{
    ViewBag.Title = "Categories";
    Layout = "../Shared/_Category.cshtml";
}

<table class="ten columns">

    <thead>
        <tr>
            <th class="three columns">Name</th>
            <th class="seven columns">Description</th>
        </tr>
    </thead>

    <tbody>

        @foreach (var category in Model)
        {
        <tr>
            <td class="three columns"> @Html.ActionLink(@category.Name, String.Format("Display/{0}", category.ID))</td>
            <td class="seven columns">@category.Description</td>
        </tr>
        }
    </tbody>

</table>


