@model IEnumerable<project.Models.Post>

@{
    ViewBag.Title = "Admin";
    Layout = "../Shared/_Base.cshtml";
}


<div>

    @foreach (var post in Model)
    {

        <h3> @Html.ActionLink(post.Title, String.Format("Display/{0}", post.ID)) </h3>
        
        
        <div class="date">@post.CreatedTime tarihinde yayınlandı</div>
        <span>@post.Hit defa okundu</span>
        
        <div class="content">
            @post.Summary    
        </div>
        <hr/>
        
        
        
    }
</div>
