@model dynamic

@{
    ViewBag.Title = "Ahmed Şeref GÜNEYSU | Blog";
    Layout = "../Shared/_Skeleton.cshtml";
}

<h3>Anasayfa</h3><hr/>

<div class="countdown" data-role="countdown" data-days="2"></div>

<div class="grid">
    <div class="row cellsN">
        <div class="cell"></div>
        ...
        <div class="cell"></div>
    </div>
</div>